<div class="categorise-line d-none d-lg-block">
    <div class="container d-flex align-items-center  ">
         <div class="text-white">ALL CATEGORIES</div>
          <div class="menu-line d-flex align-items-center ml-5">
            <li class="ml-4 "><a class="text-white pr-2" href="">Home</a> <i class="fas fa-angle-down text-white "></i> </li>
            <li class="ml-4 "><a class="text-white pr-2" href="">Shop</a> <i class="fas fa-angle-down text-white"></i> </li>
            <li class="ml-4 "><a class="text-white pr-2" href="">Page</a> <i class="fas fa-angle-down text-white"></i> </li>
            <li class="ml-4 "><a class="text-white pr-2" href="">Blog</a> <i class="fas fa-angle-down text-white"></i> </li>
            <li class="ml-4 "><a class="text-white pr-2" href="">Contact</a> <i class="fas fa-angle-down text-white"></i> </li>

          </div>
    </div>
</div>